html
    head
        title When Is Best -- Scheduling Optimized

        link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
        link(rel='stylesheet', href='/css/landing.css')
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

        script(type="text/javascript", src="js/index.js")
    
body
        #pageWrapper
            #arrowBody
                #instructionsBlock.
                    Compare everyone's schedule at
                    once to find the best time to
                    meet.
                #dateSelectionPanel
                    p Select Dates
                    select(id="dateSelector")
                        option a
                        option b
                        option c
                canvas(id="myCanvas")
                #goBlock
                    a(href="./selectionPage.html")
                        h3 Go!

        script(type="text/javascript", src="js/index_animation.js")

