html
    head
        title TEMP
        link(rel='stylesheet', href='/css/global.css')
        link(rel='stylesheet', href='/css/view_event.css')

        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(type="text/javascript", src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
        script(type="text/javascript", src="/js/range_selection.js")
        script(type="text/javascript").

            var _id = 0;
            var mouseY;
            function getTimeslotIndex (pixels, $block) {
                return Math.round((pixels - $block.offset().top) / 32);
            }

            function getPixelOffset (index) {
                return index * 32;
            }

            function getPixelInterval (startIndex, endIndex) {
                return (endIndex - startIndex) * 32;
            }

            function getNewId () {
                _id++;
                return "timespan_" + _id;
            }



            function Timespan($dayBlock, startTime, endTime, identifier) {
                this.day = $dayBlock.attr("wib-col");
                this.startTime = startTime;
                this.endTime = endTime;
                this.indentifier = identifier;
                this.$dayBlock = $dayBlock;

                var html = "<div class='timespan' id='" + identifier
                        + "'></div>";
                $dayBlock.append(html);
                var jQueryObject = $("#" + identifier);

                jQueryObject.css("top", getPixelOffset(startTime));
                jQueryObject.css("height", getPixelInterval(startTime, endTime));

                var lastMouseY = 0;
                var mouseIsDown = false;
                jQueryObject.mousedown(function (event) {
                    mouseIsDown = true;
                    event.stopPropagation();
                    lastMouseY = event.pageY;
                    console.log("down " + mouseY);
                });

                jQueryObject.mousemove(function (event) {
                    if (mouseIsDown) {
                        move(event.pageY - lastMouseY);
                        lastMouseY = event.pageY;
                    } else {
                        lastMouseY = event.pageY;
                    }
                    event.stopPropagation();
                });

                jQueryObject.mouseup(function (event) {
                    mouseIsDown = false;
                    snap();
                });

                this.resize = function (mouseY) {
                    var topOffset = jQueryObject.offset().top;
                    if (mouseY > topOffset + jQueryObject.height()) {
                        jQueryObject.height(mouseY - topOffset);
                    } else if (mouseY < topOffset) {
                        var change = topOffset - mouseY;
                        jQueryObject.css("top", parseInt(jQueryObject.css("top")) - change);
                        jQueryObject.height( jQueryObject.height()
                                + change);
                    }
                }

                var move = function (change) {
                    jQueryObject.css("top", "+=" + change);
                }

                //scope issues//
                this.externalSnap = snap;
                function snap () {
                    startTime = getTimeslotIndex(
                            jQueryObject.offset().top, $dayBlock);
                    jQueryObject.css("top", getPixelOffset(startTime));

                    endTime = getTimeslotIndex(
                            jQueryObject.offset().top
                            + jQueryObject.height(), $dayBlock);
                    jQueryObject.css("height", getPixelInterval(startTime, endTime));
                }
            }

            $(document).ready(function () {

                //keep browser from highlighting text//
                var mouseDown = false;
                $("#dayBlock").on('mousedown touchstart', function(event) {
                    event.preventDefault();
                    mouseDown = true;
                });
                $("#dayBlock").on('mousemove touchmove', function(event) {
                    event.preventDefault();
                    if(mouseDown) {
                        // Do something here.
                    }
                });
                $(window.document).on('mouseup touchend', function(event) {
                    // Capture this event anywhere in the document, since the
                    // mouse may leave our ".timeslot" while mouse is down and then
                    // the 'up' event will not fire within the element.
                    mouseDown = false;
                });

                //keeps track of active timespan objects//
                var timespans = [];

                //timespan currently being manipulated, or null//
                var timespanTracking = null;

                $("#dayBlock").mousemove(function (event) {
                    mouseY = event.pageY;
                    if (timespanTracking != null) {
                        timespanTracking.resize(mouseY);
                    }
                });

                $(".timeslot").mousedown(function () {
                    var timeslotId = getNewId();
                    var $dayBlock = $("#dayBlock");
                    var startIndex = getTimeslotIndex(mouseY, $dayBlock);
                    var timespan = new Timespan($dayBlock, startIndex,
                            startIndex + 1, timeslotId);
                    timespanTracking = timespan;
                    timespans.push(timespan);
                });

                $("body").mouseup(function () {
                    if ( timespanTracking != null) {
                        timespanTracking.externalSnap();
                    }
                    timespanTracking = null;
                });

            });
    body
        #dayBlock()
            - for (var i = 1; i < 25; i++)
                div(class="timeslot", wib-row=i, wib-col=0)= i + ":00"
