#wrapper
{
    margin-left:390px;
    padding:20px;
}

#sidebar
{
    position:fixed;
    height:100%;
    width:350px;
    padding:20px;
    box-shadow: 3px 3px 5px #888;
}

.timeslot
{
    margin:30px;
    margin-bottom:0px;
    margin-top:5px;
}

.dayNameHeader
{
    padding:30px;
    padding-bottom:0px;
    padding-top:5px;
}

.timeslot
{
    border:0px;
}



#content
{
    width:340px;
    height:100%;
    overflow:auto;
}

#contentWrapper
{
    width:310px;
    overflow:hidden;
    height:100%;
}

.sidebarText
{
    background:none;
    border:0;
    outline:none;
    font-size:20px;
    color:#555555;
    opacity:0.8;
    font-family: "Open Sans";
    overflow: hidden;
    resize: none;
    margin:0;
    width:300px;
}

#addEmail
{
    font-size:20px;
    color:#555555;
    opacity:0.8;
    font-family: "Open Sans";
    cursor:pointer;
}
