html, body {
    margin:0px;
    padding:0px;
    font-family: "Open Sans";
    background-color: #DDD
}

#instructionsBlock
{
    width:90%;
    height:100px;
    margin-top:20px;
    padding-top:1px;
    background-color:#EEE;
    box-shadow: 1.5px 3px 5px #888;
}

#instructions
{
    margin-left:14%;
    margin-right:2%;
    opacity:.8;
}

#wrapper
{
    margin:0px auto;
    text-align:center;
}

#calendarTypeRadioButton
{
    width:500px;
    margin: 0px auto;
    margin-top:50px;
    padding: 20px;
    background-color:#EFEFEF;
    box-shadow: 3px 6px 5px #888;
}

    #calendarTypeRadioButton p
    {
        display:inline;
        margin:30px;
        font-size:30px;
    }

#datepickerBlock
{
    width:500px;
    height:100px;
    margin: 0px auto;
    margin-top:10px;
    background-color:#EEE;
    box-shadow:1.5px 3px 5px #888;
    display:none;
}
