.timeslot
{
    height:6px;
    width:100px;
    margin:0px;
    border: 1px solid transparent;
    font-size:10px;
}

.bottomBorder {
    border-bottom: 1px solid #000;
    vertical-align:bottom;
}

.dayBlock
{
    width:102px;
    margin-left:50px;
    margin-top:20px;
    background-color:#EEE;
    position: relative;
    display:inline-block;
}

.timespan
{
    width:100px;
    position:absolute;
    min-height:32px;
    background-color: red;
}

.timespanTop
{
    position:absolute;
    top:0;
    width:100px;
    height:5px;
    background-color:blue;
    cursor:row-resize;
}

.timespanBottom
{
    position:absolute;
    bottom:0;
    width:100px;
    height:5px;
    background-color:blue;
    cursor:row-resize;
}
