.timeslot
{
    height: 30px;
    border: 1px solid #000;
    width:100px;
}

#dayBlock
{
    width:102px;
    margin-left:100px;
    margin-top:100px;
    background-color:#EEE;
    position: relative;
}

.timespan
{
    width:100px;
    position:absolute;
    min-height:32px;
    background-color: red;
}
